<% title "Settings — “#{@setting.key}”" %>
<h1 class="b-h1">Global setting “<%= @setting.key %>”</h1>
<h2 class="b-h2"><%= link_to "edit", edit_setting_path(@setting) %></h2>
<%= render :partial => "shared/show", :locals => {:setting => @setting, :cached_value => @cached_value} %>