<% title "Setting for User “#{@user.login}”  — “#{@setting.key}”" %>
<h1 class="b-h1">Setting for User “<%= @user.login %>”  — “<%= @setting.key %>”</h1>
<h2 class="b-h2"><%= link_to "edit", edit_user_setting_path(@user, @setting) %></h2>
<%= render :partial => "shared/show", :locals => {:setting => @setting, :cached_value => @cached_value} %>